<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Dev/First_Project_Selenuim/src/test/java/Testng_Class/Test01.java">
    <classes>
        <class name="Testng_Class.Test01">
            <methods>
                <include name="essayeTest1"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>